@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');

* {
    padding-left: 5pt;
    padding-right: 5pt;
}

html,
body {
  height: 100%;
}

body {
    margin: 0;
    background-image: url("https://images.unsplash.com/photo-1686079746732-ab2a86a36b82?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1229&q=80");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    overflow: hidden;
}

.cityInput {
    border-radius: 25px;
    font-family: 'Quicksand', sans-serif;
}

input[type=submit] {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border-radius: 25px; 
    background-color: #E5D1FA !important; 
}

.currentCity {
    padding-top: 10pt;
    font-size: 50px;
    font-family: 'Diphylleia', serif;
}

.weatherContainer  {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
} 

.minMax {
    display: flex;
    justify-content: space-between;
  }

  :root {
	--gradient: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%); 
}

.weather {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 40px;
    border: 50cm;
    /* text-transform: uppercase;  */
    font-family: 'Montserrat', sans-serif;
    background: transparent;
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-color: #E893CF;
    border-radius: 25px; 
    background: linear-gradient(#E5D1FA, #91D8E4);
} 

.weather p.date {
    text-align: center;
  }
  
.icon, .currentCity {
    text-align: center;
}

/* This is a phone screen */
@media only screen and (max-width: 480px) {
    .weatherContainer {
        flex-direction: column;
}
}

/* This is a tablet screen */
@media only screen and (min-width: 480px) and (max-width:1023px) {
    .weatherContainer {
        flex-direction: row;
}
}

/* This is desktop screen */
@media only screen and (min-width: 1024px) {
    .weatherContainer {
        flex-direction: row;
}
}