@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');

* {
    padding-left: 5pt;
    padding-right: 5pt;
}

html,
body {
  height: 100%;
}

body {
    margin: 0;
    background-image: url("https://images.unsplash.com/photo-1686079746732-ab2a86a36b82?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1229&q=80");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    overflow: hidden;
}

.cityInput {
    border-radius: 25px;
    font-family: 'Quicksand', sans-serif;
}

input[type=submit] {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border-radius: 25px; 
    background-color: #E5D1FA !important; 
}

.currentCity {
    padding-top: 10pt;
    font-size: 50px;
    font-family: 'Diphylleia', serif;
}